**Necessary Libraries**

In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import selenium as sl
import numpy as np

**URLs and tables**

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_serial_killers_active_in_the_2020s'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
#print(soup.prettify())

In [ ]:
data = soup.find_all('table')
for tables in data:
    print(tables.prettify())

**Tables**

In [ ]:
tables_all = soup.find_all('table', class_ = 'wikitable sortable')
tables_needed = tables_all[0] #selecting only the first table
tables_needed.prettify()
# for t in tables_needed:     #looping through tables_needed to print out the first 5 tables
#     print(t.prettify())

In [32]:
table_headers = tables_needed.find_all('th')     #table_headers type = bs4.element.ResultSet
table_titles = [t.text.strip() for t in table_headers[:5]]
print(table_titles)

['Name', 'Country', 'Years active', 'Proven victims', 'Possible victims']

**Pandas Data Frame**

In [14]:
df = pd.DataFrame(columns = table_titles)

Empty DataFrame
Columns: [Name, Country, Years active, Proven victims, Possible victims]
Index: []

In [51]:
col_data = tables_needed.find_all('tr')   #selecting all rows of the table
for row_data in col_data[1:]:             #Looping through col_data to select all data of the table cells
    r_info = row_data.find_all('td')
    individual_row_data = [r.text.strip() for r in r_info[:5]]   #each row value till index 4 stored in the list individual_row_data
    print(individual_row_data)

['Rosario Alfonso', 'Mexico', '2018–2020', '3', '4']
['Esteban Lorenzo Duarte', 'Argentina', '2004–2020', '2', '5']
['Kenyel Brown', 'United States', '2001–2020', '6', '6']
['Travis Lewis', 'United States', '1996–2020', '3', '3']
['Anil Vala', 'India', '?–2020', '2', '3']
['Andrey Yezhov', 'Russia', '2010–2020', '7', '7']
['Omar Santos Loera', 'Mexico', '2010–2020', '3', '3']
['Ismael Antonio Sánchez and José Rojas', 'Argentina', '2019–2020', '3', '3']
['Hugo Bustamante Pérez', 'Chile', '2005–2020', '3', '5']
['Lissa María Caiza', 'Ecuador', '2020', '4', '5']
['Karel Šťovíček', 'Czechia', '1998–2020', '3', '3']
['Yuri Sparikhin', 'Soviet Union\xa0Russia', '1980–2020', '4', '4']
['Diego Ruiz Restrepo', 'Chile', '2020', '8', '15–20']
['Harold Haulman', 'Germany\xa0United States', '1999–2020', '3', '4']
['Omar Fernandez Herrada', 'Bolivia', '2017–2020', '4', '4']
['Maina Ramulu', 'India', '2003–2020', '16', '18']
['Rustam Kiknadze', 'Kazakhstan', '2004–2020', '5', '5']
['Nikolay Tishov', 'Russia\xa0Spain (accused)', '2020', '1', '3']
['Maniram Sen', 'India', '2000–2020', '5', '6']
['Adre Baroz', 'United States', '2020', '5', '5']
[<td>Adre Baroz
</td>, <td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></span></span> </span>United States
</td>, <td>2020
</td>, <td>5
</td>, <td>5
</td>, <td>Sentenced to five consecutive life sentences plus 140 years
</td>, <td>Murdered five people in seven weeks in southern <a href="/wiki/Colorado" title="Colorado">Colorado</a>.<sup class="reference" id="cite_ref-27"><a href="#cite_note-27"><span class="cite-bracket">[</span>27<span class="cite-bracket">]</span></a></sup><sup class="reference" id="cite_ref-28"><a href="#cite_note-28"><span class="cite-bracket">[</span>28<span class="cite-bracket">]</span></a></sup>
</td>]